<div class="admin">
    <form>
        <div class="title">New game admin panel</div>
        <div class="item">
            <div class="item_text">Name</div>
            <input type="text">
        </div>
        <div class="item">
            <div class="item_text">Desc</div>
            <input type="text">
        </div>
        <div class="item">
            <div class="item_text">Price</div>
            <input type="text">
        </div>
        <div class="item">
            <div class="item_text">Main image</div>
            <input type="text">
        </div>
        <hr />
        <div class="item">
            <div class="item_text">First image</div>
            <input type="text">
        </div>
        <div class="item">
            <div class="item_text">Second image</div>
            <input type="text">
        </div>
        <div class="item">
            <div class="item_text">Third image</div>
            <input type="text">
        </div>
        <hr />
        <div class="item">
            <div class="item_text">Text</div>
            <textarea cols="30" rows="10"></textarea>
        </div>
        <button>Add new game</button>
    </form>
</div>